@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

@-ms-viewport {
	width: device-width;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
	display: table-cell;
	vertical-align: top;
	background-color: blue;
}
